.page-about {
  color: white;
  h2 {
    border-color: white !important;
  }
  .scroll-to-top,
  .scroll-to-next {
    display: none;
  }
}

.about-wrapper {
  z-index: 3;
  position: fixed;
  background-color: $orange;
  height: 100%;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
    display: block;
  }
  .about-copy {
    flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // height: 100%;
    // top: 50%;
    // transform: translateY(-25%);
    position: relative;
    padding-left: $big-text-margin;
    width: 75%;
    max-width: 1250px;
    @media (max-width: $tablet) {
      width: 100%;
      max-width: 100%;
      padding: 20px;
      padding-top: 100px;
      padding-bottom: 100px;
      // padding-left: 30px;
      // height: 100%;
    }

    h1.statement {
      // line-height: 56.4px;
      margin-bottom: 35px;
      // @media (max-width: $tablet) {
      line-height: 43.4px;
      font-size: 34px;
      // }
      @media (max-width: $mobile) {
        line-height: 28.4px;
        font-size: 18px;
      }
    }
    .colophon {
      font-size: 11px;
      line-height: 1.8;
    }
  }
}
