.page-about {
  color: white;
  h2 {
    border-color: white !important;
  }
  .scroll-to-top,
  .scroll-to-next {
    display: none;
  }
}

.about-wrapper {
  position: fixed;
  background-color: $orange;
  height: 100%;
  width: 100%;
  // overflow-y: scroll;
  display: flex;
  align-items: center;
  .about-copy {
    position: relative;
    // top: 50%;
    position: relative;
    // transform: translateY(-50%);
    padding-left: $big-text-margin;
    width: 75%;
    max-width: 1250px;
    @media (max-width: $tablet) {
      width: 100%;
      max-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }

    h1.statement {
      line-height: 56.4px;
      margin-bottom: 35px;
      @media (max-width: $tablet) {
        line-height: 43.4px;
        font-size: 34px;
      }
      @media (max-width: $mobile) {
        line-height: 28.4px;
        font-size: 18px;
      }
    }
    .colophon {
    }
  }
}
