.home-wrapper {
  .post-title {
  }
  .post-blurb {
  }
  .post-image-wrapper {
    padding: 10vh;
    height: 100vh;
    width: 100%;
    .post-image {
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
