@font-face {
    font-family: "Kepler Std";
    src: url("../fonts/KeplerStd-Italic.woff2") format("woff2"),
        url("../fonts/KeplerStd-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00fe;
}
