header {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
  &.idle {
    opacity: 0.1;
  }
  .fixed {
    position: fixed;
  }
  .top {
    top: $site-margin;
  }
  .bottom {
    bottom: $site-margin;
  }
  .center {
    left: 50%;
    transform: translateX(-50%);
  }
  .left {
    left: $site-margin;
  }
  .right {
    right: $site-margin;
  }

  .arrow {
    line-height: 1.4;
  }

  .bump-left {
    left: 300px;
  }

  .nav {
    left: 300px;
    @media (max-width: $tablet) {
      right: $site-margin;
      left: auto;
    }
    h2 {
      position: relative;
      display: inline-block;
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -3px;
      }
      &.active,
      &:hover {
        border-bottom: 3px solid black;
      }
    }
  }
}
